body {
    color: black(0, 0%, 100%);
 
}
p{
    color:hsl(0, 0%, 100%);
}
.choice-container {
    display: flex;
    background: hsl(240, 100%, 40.2%);
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    min-width: 80rem;
    width: 100%;
    min-height: 1rem;
    border-radius: 0.25rem;
}

.choice-container:hover {
    box-shadow: 0 6.5px 22.5px 0 hsl(180, 100%, 50%, 0.5);
    transform: scale(1.02);
    transition: transform 100ms;
    cursor: pointer;
}

.choice-prefix {
    color: hsl(0, 0%, 100%);
    padding: 2rem 2.5rem;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, hsl(120, 60.7%, 33.9%) 0%, hsl(146.5, 50.3%, 36.3%) 100%);
}

.incorrect {
    background: linear-gradient(32deg, hsl(354.9, 77.1%, 52%, 1) 0%,
            hsl(1.9, 100%, 50%, 1) 100%);
}

/* Heads Up Display */
#hud {
    display: flex;
    justify-content: space-between;
}

#scoreboard {
    position: absolute;
    top: 5rem;
}

#score {
    position: absolute;
    top: 7rem;
}

.hud-prefix {
    font-size: 2rem;
    text-align: center;
}

.hud-main-text {
    text-align: center;
}

#progressText {
    padding-top: 5rem;
}

#progressBar {
    margin-top: 2rem;
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid hsl(120, 60.8%, 50%);
    border-radius: 3.12rem;
    overflow: hidden;
}

#progressBarFull {
    background: hsl(120, 60.8%, 50%);
    width: 0%;
    height: 100%;
}

@media screen and (max-width: 48em) {
    .choice-container {
        min-width: 40rem;
    }
}